*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "consolas", sans-serif;
}
.header{
    display: flex;
    height: 150px;
    width: 100%;
    background-image:linear-gradient(black, goldenrod, black) ;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.2em;
}
.header-text{
    text-align: center;
}
.page-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: goldenrod;
}
.column-one,.column-two, .column-three{
   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid  2px goldenrod;  
    border-style: groove; 
}




.footer{
    display: flex;
    background-color: rgb(189, 144, 28);
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2em;

}

img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.column-text h2{
    text-align: center;
    padding-top: 30px;

}
.column-text p{
    text-align: center;
    margin-bottom: 30px;
    opacity: 0.7;
}
.column-text p:hover{
    opacity: 1;

}

.header-text:hover, .footer-text:hover{
    color: gold;
}



@media only screen and (max-width: 767px){
.column-one,.column-two, .column-three{
    margin-bottom: 60px;
    width: 75%;
    }
.column-one{
    margin-top: 60px;
}
.column-text h2{
    font-size: 1.1em;
    margin-bottom: 7px;
}
.column-text p{
    padding: 7px;
    font-size: 0.8em;
}
.header-text {
    font-size: 0.7em;
}
.footer{
    font-size: 1em;
}
}

@media only screen and (min-width: 768px){
    .page-body{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .column-one,.column-two, .column-three{
        width: 25%;
        margin-top: 100px;
        margin-bottom: 80px;

    }
    .column-text p{
        font-size: 1.3em;
        padding: 15px;
    }
  
}

@media only screen and (min-width:768px) and (max-width: 1023px){
    .column-text p{
        font-size: 1em;
    }
    .column-text h2{
        font-size: 1.1em;
    }
    .column-one,.column-two, .column-three{
        width: 28%;
        margin-top: 70px;
        margin-bottom: 60px;
    }

}

